@model IEnumerable<CoreClean.Domain.Models.Photo>

@{
    ViewData["Title"] = "Index";

}
<div class="container-fluid">

    @using (Html.BeginForm("Index", "Photo", FormMethod.Get))
    {

        <div class="form">
            <div class="input-group mb-3">
                <select name="sortOrder" class="form-control form-select filter-select">
                    <option>Sort</option>
                    @foreach (var option in (List<SelectListItem>)ViewBag.OrderOptions)
                    {
                        <!option value="@(option.Value)" @(ViewBag.CurrentOrdering == option.Value ? "selected" : "")>@option.Text</!option>
                    }
                </select>
                <input type="search" name="search" class="form-control" placeholder="Search..." aria-describedby="button-addon2">
                <button class="btn btn-primary search-btn" type="submit" id="button-addon2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                </button>
            </div>
            <div class="input-group mb-3">
                <select name="catId" id="example-getting-started" multiple="multiple">
                    @foreach(var option in (List<SelectListItem>)ViewBag.Categories)
                        {
                    <!option value="@(option.Value)" @(((List<Guid>)ViewBag.CurrentCat).Contains(new Guid(option.Value)) ? "selected" : "")>@option.Text</!option>
                    }
                    
                </select>
            </div>
        </div>

    }
</div>


<div class="col-md-12">
    <div class="row">
        <hr>

        <div class="gal">
            @foreach (var item in Model)
            {
                <figure class="hover-box text-white">
                    <img src="~/upload/photos/@Html.DisplayFor(modelItem => item.Name)" alt="hover-box-first" class="p-0" />
                    <figcaption class="text-right">
                        <h3 class="bg-info p-1 mb-1">@item.Title</h3>
                        <h4><small class="text-muted">by</small> @item.User.FirstName</h4>
                    </figcaption>
                    <a asp-action="Details" asp-route-id="@item.Id"></a>
                </figure>

            }
        </div>
    </div>
</div>


@section Scripts
{
<script type='text/javascript'>
   
    $(document).ready(function() {
        $('#example-getting-started').multiselect({
  buttonClass: 'btn btn-outline-primary'
});
        
    });
</script>
 }


<style>
    /* ---- grid ---- */

    .gal {
        -webkit-column-count: 3; /* Chrome, Safari, Opera */
        -moz-column-count: 3; /* Firefox */
        column-count: 3;
    }

        .gal img {
            width: 100%;
            padding: 7px 0;
        }

    @@media (max-width: 500px) {

        .gal {
            -webkit-column-count: 1; /* Chrome, Safari, Opera */
            -moz-column-count: 1; /* Firefox */
            column-count: 1;
        }
    }

    @@media (max-width: 900px) {
        .gal {
            -webkit-column-count: 2; /* Chrome, Safari, Opera */
            -moz-column-count: 2; /* Firefox */
            column-count: 2;
        }
    }
    .custom-select {
    display: inline-block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff ;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}

.form-check-label
{
    color:black;
}
</style>

